h1, h2, h3, h4, h5, h6, p, a{
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
}

*{
  transition: all 0.3s ease;
}

html, body, section{
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  height: 100%;
}

.container{
  width: 80%;
  margin: auto;
}

html{
  height: 100%;
  overflow: hidden;
}

/* Header */
header{
  height: 8%;
  background-color: crimson;
}

/* Map */
#map{
  height: 60%;
  border-bottom: 1px solid #b4b4b4;
  .map-display{
    width: 70%;
    background-color: cadetblue;
    height: 100%;
  }
  .map-list{
    width: 30%;
    height: 100%;
    margin-left: -4px;
    background-image: url('../../texture.png');
    background-size: cover;
    background-repeat: no-repeat;
    .list-header{
      text-align: left;
      padding: 15px;
      hr{
        width: 20%;
        float: left;
        height: 2px;
        background-color: rgba(9, 9, 9, 0.84);
        border: none;
        outline: none;
        margin: 10px 0px 0px 0px;
      }
      h2{
        opacity: 0.7;
        font-size: 1.4em;
      }
    }
    .div-content-scroll{
      height: calc(100% - 61px);
      overflow-y: scroll;
    }
    .list-item{
      padding: 20px;
      h2{
        font-size: 1.2em;
        letter-spacing: 2px;
      }
      p{
        color: crimson;
        font-size: 10px;
        letter-spacing: 1px;
      }
      img, .list-item-text{
        display: inline-block;
        vertical-align: middle;
        line-height: 18px;
      }
      img{
        margin-right: 10px;
        width: 30px;
      }
    }
  }
  .map-display, .map-list{
    display: inline-block;
    vertical-align: top;
  }
}

/*Profile Stats */
#profile-info{
  height: 32%;
  background: lightgreen;
  width: 30%;
}

/* Recommendations */
#recommendation-list{
  height: 32%;
  width: 70%;
  margin-left: -6px;
  background-color: aqua;
  vertical-align: top;
  border-left: 1px solid #9c9c9c;
  .div-content-scroll{
    overflow-y: scroll;
    height: 100%;
  }
  .list-item{
    background-color: #F2F2F2;
    padding: 20px;
    color: rgba(7, 7, 7, 0.84);
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    border-left: 0px solid crimson;
    cursor: pointer;
    h2{
      font-size: 1.2em;
      letter-spacing: 2px;
    }
    img, .list-item-text{
      display: inline-block;
      vertical-align: middle;
      line-height: 18px;
    }
    img{
      margin-right: 10px;
      width: 30px;
    }
    p{
      font-size: 10px;
      color: crimson;
    }
  }
  .list-item:hover{
    border-left: 10px solid crimson;
    cursor: pointer;
  }
}

#recommendation-list, #profile-info{
  display: inline-block;
}

#profile-info{
  z-index: 10;
  position: relative;
  background-image: url('../../texture.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-right: 1px solid grey;
  .container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  h1{
    font-size: 2em;
  }
  h4{
    font-weight: 300;
  }
  text-align: center;
  img{
    width: 99px;
    height: 100px;
    border-radius: 1000px;
    margin: 10px;
  }
}